.container {
    min-height: calc(100vh - 183px);
    display: flex;
}
.title {
    text-align: center;
}
.form__container {
    max-width: 480px;
    width: 100%;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
}

.button {
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: #4C4CFF;
    transition: .4s;
}

.link:hover {
    color: #8585AD;
}

.text {
    text-align: center;
}