.container {
    min-height: calc(100vh - 183px);
    display: flex;
}
.menu__container {
    display: flex;
    height: fit-content;
    margin: auto 0;
    column-gap: 60px;
}
.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: auto 0;
    max-width: 320px;
    padding: 0;
}
.link {
    color: white;
    text-decoration: none;
    min-height: 64px;
    display: flex;
    align-items: center;
    transition: .4s;
}
.link:hover {
    color: #8585AD;
}

.menu__content {
    max-width: 480px;
    width: 100%;
}