body {
  background: #131316;
}
#root {
  max-height: 100vh;
  /* overflow: hidden; */
  display: grid;
  grid-template-rows: 80px calc(100vh - 80px);
}

@font-face {
  font-display: swap;
  font-family: "JetBrainsMono";
  src: url("./fonts/JetBrainsMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: "normal";
}

@font-face {
  font-display: swap;
  font-family: "JetBrainsMono";
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: "normal";
}

@font-face {
  font-display: swap;
  font-family: "JetBrainsMono";
  src: url("./fonts/JetBrainsMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: "normal";
}

@font-face {
  font-display: swap;
  font-family: "JetBrainsMono";
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: "normal";
}