.overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: .5s, height 0s .5s;
}
.overlay:not(.active) {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

